$backgroundColorTheme: #000;
$navbarColor: #232a31;
$fontColorH1: #333;
$fontColorP: #70747a;
$fontNavColor: #fff;
$fontNavHoverColor: #ccc;
$logoColor: #7990FC;
$btnColor: #2cc67a;
$btnHoverColor: #22bb5f;




* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    box-sizing: border-box;
}

h1,
h3,
h3 {
    color: $fontColorH1;
}

p {
    color: $fontColorP;
}

.navbar-container {
    width: 100%;
    height: 80px;
    background-color: $navbarColor;
    padding: 0 2rem;
}

nav {
    position: relative;
}

/*nav h1 {
    text-decoration: none;
    text-transform: uppercase;
    color: $logoColor;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    font-weight: 100;
    margin-top: 15px;
}
*/

.logo {
    width: 170px;
}

.navbar-itens {
    position: absolute;
    right: 0;
    height: 80px;
    line-height: 80px;
    margin: 0;
    display: inline-block; 
}

.navbar-itens li {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;
}


.navbar-itens a {
    color: $fontNavColor;
    text-decoration: none;
    transform: 0.5s;
}

.navbar-itens a:hover {
    color: $fontNavHoverColor;
}

.default-btn {
    padding: 15px 20px;
    background-color: $btnColor;
    border-radius: 5px;
}

.navbar-itens .default-btn:hover {
    background-color: $btnHoverColor;
    color: white;
}